---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import Services from "../components/sections/Services.astro";
import Vision from "../components/sections/Vision.astro";
import Contact from "../components/sections/Contact.astro";
import Mission from "../components/sections/Mission.astro";
---

<Layout title="Bienvenido a CECALPI">
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <Hero />
    <Mission />
    <Vision />
    <Services />
    <Contact />
  </main>
</Layout>
